{
    "login" : {
      "title": "Login"
    },
    "service_workspace": {
      "title": "",
      "description": "",
      "settings": {},
      "total_endpoint_txt": "APIs",
      "new_endpoint_btn_txt": "New Endpoint",
      "loading_workspace_txt": "Loading Workspace",
      "empty_workspace_txt": "Workspace is empty",
      "delete_endpoint_active_txt": "Deleting..",
      "clear_cache_btn_txt": "Clear cache",
      "clear_all_cache_btn_txt": "Clear All Cache"
    },
    "collection": {
      "title": "Collection",
      "description": "",
      "collection_loading_txt": "Loading all the available collection",
      "collection_list_empty_txt": "No collection found",
      "use_collection_button_txt": "Use this",
      "use_collection_button_active_txt": "Setting up"
    },
    "api_keys": {
      "title": "API Tokens",
      "description": ""
    },
    "provider" : {
      "title" : "Provider",
      "credentials_found_text": "Credential is stored with us, to update or change the credential delete first then save the new one.",
      "no_credentials_found_text": "No OAuth setup instructions found for this provider"
    },
    "integrations": {

    }
  }