{
  "email": {
    "meta": {
        "submit_text": "Login",
        "submit_text_disable": "Login",
        "divider_text": "Signin using a email",
        "form": {}
    },
    "fields": [
      {
        "label": "",
        "hide_label": "Yes",
        "name": "email",
        "field": "input",
        "type": "input",
        "placeholder": "dev@example.com",
        "required": true,
        "className": "",
        "message": ""
      },
      {
        "label": "",
        "hide_label": "Yes",
        "name": "password",
        "field": "input",
        "type": "password",
        "placeholder": "Password",
        "required": true,
        "className": "",
        "message": ""
      }
    ]
  },
  "otp": {},

  "extra_fields": []
}
