# Dependencies
node_modules
**/node_modules

# Build outputs
.next
**/.next
dist
**/dist

# Git
.git
.github

# Testing
coverage
**/coverage

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Examples and guide
guide